// ---- Card styling ----
.iconBg {
	background-color: #e9effd;
	border-radius: 50%;
	display: flex;
	margin: auto auto 1.25rem auto;
	width: 5rem;
	height: 5rem;

	i {
		color: $bg-color;
		font-size: 3rem;
		margin: auto;
		text-align: center;
	}
}

.cardDisplay {
	// background-color: aqua;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2.5rem;
	width: 100%;

	.card {
		background-color: $primary-color;
		border: $inactive-color solid 0.0625rem;
		border-radius: 1.25rem;
		display: flex;
		flex-direction: column;
		padding: 1.25rem;
		width: 30%;
        min-width: 390px;

		h4 {
			font-size: 1.5rem;
			font-weight: bolder;
			margin-bottom: 1.25rem;
			text-align: center;
		}

		p {
			font-size: 1rem;
			margin-bottom: 1.25rem;
			text-align: center;
		}
	}
}
// ---- End Card styling ----

// ---- Customer review card styling ----
.reviewCard {
	background-color: $primary-color;
	border: $inactive-color solid 0.0625rem;
	border-radius: 1.25rem;
	display: flex;
	flex-direction: column;
	padding: 1.25rem;
	width: 30%;
    min-width: 390px;

	.starsDisplay {
		// background-color: crimson;
		border-bottom: $inactive-color dotted 0.0625rem;
		display: flex;
		margin-bottom: 1.25rem;
		padding-bottom: 1.25rem;

		i {
			color: #ecb91d;
			font-size: 1.25rem;

			&:not(:last-child) {
				margin-right: 0.3125rem;
			}
		}
	}

	.customerInfo {
		// background-color: crimson;
		border-top: $inactive-color solid 0.0625rem;
		display: flex;
		margin-top: 1.25rem;
		padding: 1.25rem 0;

		img {
			// border: $bg-color solid 0.0625rem;
			border-radius: 50%;
			margin: auto 2.5rem auto 0;
			object-fit: cover;
			object-position: top;
			text-align: center;
			height: 5rem;
			width: 5rem;
		}

		.nameAndPosition {
			// background-color: aqua;
			display: flex;
			flex-direction: column;
			margin: auto 0 !important;

			h4 {
				font-size: 1.25rem;
				font-weight: bolder;
				margin-bottom: 0.625rem;
			}

			p {
				color: $inactive-color;
				font-size: 1rem;
			}
		}
	}
}

// ---- End Customer review card styling ----
