// @media (max-width: 760px) {
// 	.contactFormAndMedia {
// 		width: 90vw !important;
// 	}
// }

@media (max-width: 930px) {
	.branding {
		margin: 1.25rem auto 1.25rem 2.5rem !important;
	}

	.navIcons {
		margin: auto 2.5rem auto 0 !important;
	}

	.navLinksResponsive {
		margin-right: 2.5rem !important;
	}
}

@media (max-width: 1070px) {
	.navLinks,
	.regAndLoginDiv {
		display: none !important;
	}

	.navIcons {
		display: flex !important;
	}
}

// @media (max-width: 1488px) {
// 	#contact {
// 		height: fit-content !important;
// 	}

// 	.contactFormAndMedia {
// 		width: 50vw;
// 		min-height: 80vh;
// 		// margin-bottom: 1.25rem !important;
// 	}

// 	.row {
// 		max-height: 50%;
// 	}

// 	.topRow {
// 		.imgSection {
// 			display: none;
// 		}

// 		.contactFormSection {
// 			width: 100%;

// 			form {
// 				margin: 1.25rem auto;
// 			}
// 		}
// 	}

// 	.bottomRow {
// 		.socialMedia {
// 			background: linear-gradient($bg-color, $bg-color),
// 				url(../images/alex-mihai-c-FWgYghZrVqU-unsplash.jpg);
// 			background-position: center;
// 			background-size: cover;
// 			background-repeat: no-repeat;
// 			color: $primary-color;
// 			margin-bottom: 1.25rem;
// 			width: 100%;
// 		}

// 		.imgSection {
// 			display: none;
// 		}
// 	}
// }
