@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  transition: 0.25s ease-in-out;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: initial;
  text-decoration: none;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.globalNav {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  position: relative;
}
.globalNav .navLinks {
  display: flex;
  flex-direction: row;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.globalNav .navLinks a {
  color: #000;
  font-size: 1.25rem;
  font-weight: bold;
}
.globalNav .navLinks a:not(:last-child) {
  margin-right: 1.25rem;
}
.globalNav .navLinks a:hover {
  text-decoration: underline;
}
.globalNav .navIcons {
  display: none;
  flex-direction: row;
  margin: auto 5rem auto 0;
}
.globalNav .navIcons i {
  font-size: 2rem;
}
.globalNav .navLinksResponsive {
  background-color: #fff;
  display: none;
  flex-direction: column;
  margin-right: 5rem;
  position: absolute;
  top: 100%;
  right: 0;
  transform: translate(0%, 0%);
}
.globalNav .navLinksResponsive a {
  color: #111827;
  font-size: 1.25rem;
  font-weight: bold;
}
.globalNav .navLinksResponsive a:not(:last-child) {
  margin-bottom: 1.25rem;
}
.globalNav .navLinksResponsive a:hover {
  text-decoration: underline;
}
.globalNav .navLinksResponsive .regAndLogin {
  display: flex;
  flex-direction: column;
  margin: 0;
  position: unset;
  transform: unset;
}
.globalNav .navLinksResponsive .regAndLogin a {
  border-radius: 0.625rem;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.3125rem 0.625rem;
  text-align: center;
  width: 100%;
}
.globalNav .navLinksResponsive .regAndLogin a:hover {
  text-decoration: none;
}
.globalNav .navLinksResponsive .regAndLogin .loginBtn {
  color: rgba(0, 0, 0, 0.6);
  border: rgba(0, 0, 0, 0.6) solid 0.125rem;
  margin-right: 1.25rem;
}
.globalNav .navLinksResponsive .regAndLogin .loginBtn:hover {
  border: #111827 solid 0.125rem;
  color: #111827;
}
.globalNav .navLinksResponsive .regAndLogin .signupBtn {
  background-color: rgba(37, 100, 235, 0.9);
  border: rgba(37, 100, 235, 0.8) solid 0.125rem;
  color: #fff;
}
.globalNav .navLinksResponsive .regAndLogin .signupBtn:hover {
  background-color: #2563eb;
  border: #2563eb solid 0.125rem;
  color: #fff;
}
.globalNav .regAndLoginDiv {
  display: flex;
  margin: auto 5rem auto 0;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
.globalNav .regAndLoginDiv a {
  border-radius: 0.625rem;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.3125rem 0.625rem;
}
.globalNav .regAndLoginDiv .loginBtn {
  color: rgba(0, 0, 0, 0.6);
  border: rgba(0, 0, 0, 0.6) solid 0.125rem;
  margin-right: 1.25rem;
}
.globalNav .regAndLoginDiv .loginBtn:hover {
  border: #111827 solid 0.125rem;
  color: #111827;
}
.globalNav .regAndLoginDiv .signupBtn {
  background-color: rgba(37, 100, 235, 0.9);
  border: rgba(37, 100, 235, 0.8) solid 0.125rem;
  color: #fff;
}
.globalNav .regAndLoginDiv .signupBtn:hover {
  background-color: #2563eb;
  border: #2563eb solid 0.125rem;
  color: #fff;
}

.branding {
  display: flex;
  margin: 1.25rem auto 1.25rem 5rem;
}
.branding a {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: none;
  padding: none;
}
.branding a img {
  margin: 0;
  padding: 0;
  width: 3.125rem;
  height: 3.125rem;
}
.branding a h1 {
  color: #2563eb;
  font-size: 2rem;
  font-weight: bolder;
  margin: auto 0 auto 1.25rem;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}
.section h2 {
  font-size: 2.5rem;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 2.5rem;
}
.section h3 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2.5rem;
}

.grayBg {
  background-color: #f8fafc;
}

.professionalsDisplay {
  display: flex;
  justify-content: space-between;
  height: -moz-min-content;
  height: min-content;
  margin: auto 0;
}
.professionalsDisplay .professionalCard {
  border: rgba(0, 0, 0, 0.6) solid 0.0625rem;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  width: 22.5%;
  height: 50vh;
  min-height: 500px;
  overflow: hidden;
}
.professionalsDisplay .professionalCard .imgAndReviews {
  display: flex;
  position: relative;
  width: 100%;
  height: 60%;
}
.professionalsDisplay .professionalCard .imgAndReviews img {
  -o-object-position: center;
     object-position: center;
  width: 100%;
}
.professionalsDisplay .professionalCard .imgAndReviews .professionalReview {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  padding: 0.3125rem 0.625rem;
  position: absolute;
  top: 100%;
  transform: translate(0, -100%);
  width: 100%;
}
.professionalsDisplay .professionalCard .imgAndReviews .professionalReview i {
  color: #ecb91d;
  margin: auto 0.625rem auto 0;
}
.professionalsDisplay .professionalCard .imgAndReviews .professionalReview p {
  font-weight: lighter;
  margin: auto 0;
}
.professionalsDisplay .professionalCard .imgAndReviews .professionalReview p span {
  font-weight: bold;
}
.professionalsDisplay .professionalCard .professionalDetails {
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
  height: 100%;
}
.professionalsDisplay .professionalCard .professionalDetails h4 {
  font-weight: bold;
  margin-bottom: 0.625rem;
}
.professionalsDisplay .professionalCard .professionalDetails h5 {
  color: #2563eb;
  margin-bottom: 0.625rem;
}
.professionalsDisplay .professionalCard .professionalDetails p {
  margin: 0 0 auto 0;
}
.professionalsDisplay .professionalCard .professionalDetails a {
  background-color: rgba(37, 100, 235, 0.9);
  border-radius: 0.3125rem;
  color: #fff;
  margin: auto auto auto 0;
  padding: 0.3125rem 0.625rem;
}
.professionalsDisplay .professionalCard .professionalDetails a:hover {
  background-color: #2563eb;
}

.ctaButtons {
  display: flex;
  flex-direction: row;
}
.ctaButtons a {
  border-radius: 0.625rem;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.625rem 1.25rem;
  text-align: center;
}
.ctaButtons .secondaryCTA {
  border: #fff solid 0.125rem;
  color: #fff;
  margin-right: 1.25rem;
}
.ctaButtons .secondaryCTA:hover {
  background-color: #fff;
  color: #000;
}
.ctaButtons .primaryCTA {
  background-color: #fff;
  border: #2563eb solid 0.125rem;
  color: #2563eb;
}
.ctaButtons .primaryCTA:hover {
  background-color: #111827;
  border: #111827 solid 0.125rem;
  color: #fff;
}

.globalFooter {
  background-color: #111827;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding: 5rem 5rem 0 5rem;
}
.globalFooter .columnDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.globalFooter .columnDisplay .footerCol {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 20%;
}
.globalFooter .columnDisplay .footerCol h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}
.globalFooter .columnDisplay .footerCol .subCol {
  display: flex;
  flex-direction: column;
}
.globalFooter .columnDisplay .footerCol .subCol p,
.globalFooter .columnDisplay .footerCol .subCol a {
  color: #fff;
}
.globalFooter .columnDisplay .footerCol .subCol p:not(:last-child),
.globalFooter .columnDisplay .footerCol .subCol a:not(:last-child) {
  margin-bottom: 0.625rem;
}
.globalFooter .columnDisplay .footerCol .subCol a:hover {
  text-decoration: underline;
}
.globalFooter .columnDisplay .footerCol .socialMediaIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto 0 0;
  min-width: 50%;
  height: -moz-fit-content;
  height: fit-content;
}
.globalFooter .columnDisplay .footerCol .socialMediaIcons a {
  color: #fff;
  margin: 0;
}
.globalFooter .columnDisplay .footerCol .socialMediaIcons a:hover {
  color: #2563eb;
}
.globalFooter .columnDisplay .footerCol .socialMediaIcons a i {
  font-size: 1.5rem;
  margin: 0;
}
.globalFooter .columnDisplay .socialsCol .brandingFooter {
  margin: 0 0 1.25rem 0;
}
.globalFooter .columnDisplay .socialsCol .brandingFooter a img {
  width: 2rem;
  height: 2rem;
}
.globalFooter .columnDisplay .socialsCol .brandingFooter a h1 {
  font-size: 1.5rem;
  font-weight: bolder;
}
.globalFooter .copyright {
  border-top: 0.0625rem solid rgba(255, 255, 255, 0.2);
  display: flex;
  padding: 0.625rem 0;
  justify-content: center;
  text-align: center;
}

.iconBg {
  background-color: #e9effd;
  border-radius: 50%;
  display: flex;
  margin: auto auto 1.25rem auto;
  width: 5rem;
  height: 5rem;
}
.iconBg i {
  color: #2563eb;
  font-size: 3rem;
  margin: auto;
  text-align: center;
}

.cardDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  width: 100%;
}
.cardDisplay .card {
  background-color: #fff;
  border: rgba(0, 0, 0, 0.6) solid 0.0625rem;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  width: 30%;
}
.cardDisplay .card h4 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 1.25rem;
  text-align: center;
}
.cardDisplay .card p {
  font-size: 1rem;
  margin-bottom: 1.25rem;
  text-align: center;
}

.reviewCard {
  background-color: #fff;
  border: rgba(0, 0, 0, 0.6) solid 0.0625rem;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  width: 30%;
}
.reviewCard .starsDisplay {
  border-bottom: rgba(0, 0, 0, 0.6) dotted 0.0625rem;
  display: flex;
  margin-bottom: 1.25rem;
  padding-bottom: 1.25rem;
}
.reviewCard .starsDisplay i {
  color: #ecb91d;
  font-size: 1.25rem;
}
.reviewCard .starsDisplay i:not(:last-child) {
  margin-right: 0.3125rem;
}
.reviewCard .customerInfo {
  border-top: rgba(0, 0, 0, 0.6) solid 0.0625rem;
  display: flex;
  margin-top: 1.25rem;
  padding: 1.25rem 0;
}
.reviewCard .customerInfo img {
  border-radius: 50%;
  margin: auto 2.5rem auto 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  text-align: center;
  height: 5rem;
  width: 5rem;
}
.reviewCard .customerInfo .nameAndPosition {
  display: flex;
  flex-direction: column;
  margin: auto 0 !important;
}
.reviewCard .customerInfo .nameAndPosition h4 {
  font-size: 1.25rem;
  font-weight: bolder;
  margin-bottom: 0.625rem;
}
.reviewCard .customerInfo .nameAndPosition p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
}

.landingHero {
  background-color: #2563eb;
  display: flex;
  padding: 5rem;
  width: 100vw;
  overflow: hidden;
}
.landingHero .callToAction {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 40%;
}
.landingHero .callToAction h1 {
  font-size: 5rem;
  font-weight: bolder;
  margin-bottom: 1.25rem;
}
.landingHero .callToAction p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
}
.landingHero .heroImg {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landingHero .heroImg img {
  border-radius: 1.25rem;
  margin: auto 0 auto auto;
  width: 90%;
}

.serviceMiniSection {
  background-color: #f8fafc;
}
.serviceMiniSection a {
  background-color: #fff;
  border: rgba(0, 0, 0, 0.6) solid 0.0625rem;
  border-radius: 0.625rem;
  font-weight: bold;
  margin: 0 auto;
  padding: 0.625rem 1.25rem;
  text-align: center;
}
.serviceMiniSection a:hover {
  background-color: #000;
  border: #000 solid 0.0625rem;
  color: #fff;
}

.getStarted {
  background-color: #2563eb;
}
.getStarted h2,
.getStarted h3 {
  color: #fff;
}
.getStarted div {
  margin: 1.25rem auto 0 auto;
}

.page .quickfixAbout .sectionSubtitle {
  margin-bottom: 0 !important;
}
.page .ourStory {
  background-color: #fff;
}
.page .ourStory .callToAction {
  color: #000;
}
.page .ourStory .callToAction h2 {
  font-size: 2.5rem;
  font-weight: bolder;
}
.page .ourStory .callToAction p {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0;
}
.page .landingStats {
  display: flex;
  flex-direction: row;
}
.page .landingStats .landingStatComp {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page .landingStats .landingStatComp i {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
}
.page .landingStats .landingStatComp h4 {
  font-weight: bolder;
  margin-bottom: 1.25rem;
}
.page .landingStats .landingStatComp p {
  margin: 0;
}

.servicesDisplay {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  gap: 2.5rem 0;
  justify-content: space-between;
}
.servicesDisplay .serviceItem {
  align-items: center;
  background-color: #fff;
  border: rgba(0, 0, 0, 0.6) solid 0.0125rem;
  border-radius: 0.625rem !important;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
}
.servicesDisplay .serviceItem h4 {
  font-weight: bolder;
  margin-bottom: 1.25rem;
}
.servicesDisplay .serviceItem h6 {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 1.25rem;
  text-align: center;
}
.servicesDisplay .serviceItem .jobList {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.servicesDisplay .serviceItem .jobList .jobItem {
  display: flex;
}
.servicesDisplay .serviceItem .jobList .jobItem:not(:last-child) {
  margin-bottom: 1.25rem;
}
.servicesDisplay .serviceItem .jobList .jobItem i {
  color: #2563eb;
  font-size: 1.25rem;
  margin: auto 0;
}
.servicesDisplay .serviceItem .jobList .jobItem p {
  margin: auto auto auto 0.625rem;
}

.serviceStat {
  background-color: #fff;
}
.serviceStat .landingStatComp i,
.serviceStat .landingStatComp h4,
.serviceStat .landingStatComp p {
  color: #000;
}

.contactFormAndInfo {
  flex-direction: row;
  justify-content: space-between;
}
.contactFormAndInfo .contactDiv {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
}
.contactFormAndInfo .contactDiv h3 {
  color: #000;
  font-weight: bolder;
  margin-bottom: 1.25rem;
  text-align: left;
}
.contactFormAndInfo .contactInfo {
  width: 30%;
}
.contactFormAndInfo .contactInfo .contactCard {
  border: rgba(0, 0, 0, 0.6) solid 0.0625rem;
  border-radius: 1.25rem;
  display: flex;
  padding: 1.25rem;
}
.contactFormAndInfo .contactInfo .contactCard:not(:last-child) {
  margin-bottom: 1.25rem;
}
.contactFormAndInfo .contactInfo .contactCard .contactIcon {
  color: #2563eb;
  font-size: 1.25rem;
}
.contactFormAndInfo .contactInfo .contactCard .contactDetails {
  display: flex;
  flex-direction: column;
  margin-left: 1.25rem;
}
.contactFormAndInfo .contactInfo .contactCard .contactDetails h6 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 auto 1.25rem 0;
}
.contactFormAndInfo .contactInfo .contactCard .contactDetails p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
}
.contactFormAndInfo .contactInfo .contactCard .contactDetails p:not(:last-child) {
  margin: 0 auto 1.25rem 0;
}
.contactFormAndInfo .contactFormDiv {
  border: rgba(0, 0, 0, 0.6) solid 0.0625rem;
  border-radius: 1.25rem;
  width: 60%;
}
.contactFormAndInfo .contactFormDiv .contactForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.contactFormAndInfo .contactFormDiv .contactForm .inputDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
}
.contactFormAndInfo .contactFormDiv .contactForm .inputDiv label {
  margin-bottom: 0.625rem;
}
.contactFormAndInfo .contactFormDiv .contactForm .inputDiv input,
.contactFormAndInfo .contactFormDiv .contactForm .inputDiv textarea {
  border: rgba(0, 0, 0, 0.6) solid 0.0625rem;
  border-radius: 0.3125rem;
  color: #000;
  font-size: 1.25rem;
  font-weight: bold !important;
}
.contactFormAndInfo .contactFormDiv .contactForm .nameAndEmail {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.contactFormAndInfo .contactFormDiv .contactForm .nameAndEmail div {
  width: 45%;
}
.contactFormAndInfo .contactFormDiv .contactForm button {
  background-color: #2563eb;
  border: none;
  border-radius: 0.625rem;
  color: #fff;
  font-weight: bolder;
  margin: 0 auto 0 0;
  padding: 0.625rem 1.25rem;
}
.contactFormAndInfo .contactFormDiv .contactForm button:hover {
  background-color: #000;
}

iframe {
  margin: auto;
  width: 100%;
  height: 20rem;
}

.qaDiv {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  gap: 2.5rem 0;
  justify-content: space-around;
}
.qaDiv div {
  border: rgba(0, 0, 0, 0.6) solid 0.0125rem;
  border-radius: 0.625rem !important;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
}
.qaDiv div h6 {
  font-size: 1.25rem;
  font-weight: bolder;
  text-decoration: underline;
}

.userRegBg {
  background-color: aqua;
  display: flex;
  height: 100%;
  flex-grow: 1;
}

@media (max-width: 760px) {
  .professionalsDisplay #cardProf {
    width: 80% !important;
  }
}
@media (max-width: 930px) {
  .branding {
    margin: 1.25rem auto 1.25rem 2.5rem !important;
  }
  .navIcons {
    margin: auto 2.5rem auto 0 !important;
  }
  .navLinksResponsive {
    margin-right: 2.5rem !important;
  }
  .landingHero .heroImg {
    width: 100% !important;
    padding: 0 !important;
    height: -moz-max-content;
    height: max-content;
  }
  .landingHero .heroImg img {
    margin: 0;
    width: 100% !important;
  }
  .section {
    padding: 2.5rem;
  }
  .ctaButtons {
    flex-direction: column;
  }
  .ctaButtons a {
    text-align: center;
    width: 100%;
  }
  .ctaButtons a:not(:last-child) {
    margin-bottom: 1.25rem;
  }
  .cardDisplay {
    flex-direction: column;
  }
  .cardDisplay .card {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  .cardDisplay .card:not(:last-child) {
    margin-bottom: 1.25rem;
  }
  .reviewDisplay .reviewCard {
    width: 80% !important;
  }
  .globalFooter .columnDisplay .footerCol {
    width: 80% !important;
  }
  .globalFooter .columnDisplay .footerCol .socialMediaIcons {
    width: 100%;
  }
  .landingStats {
    flex-direction: column !important;
  }
  .landingStats .landingStatComp {
    width: 80%;
  }
  .servicesDisplay {
    grid-template-columns: repeat(1, 100%) !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 80%;
  }
  .nameAndEmail {
    flex-direction: column;
  }
  .nameAndEmail div {
    width: 100% !important;
  }
  .qaDiv {
    grid-template-columns: repeat(1, 100%);
  }
  .section {
    padding: 2.5rem;
  }
  .globalFooter {
    padding: 2.5rem 2.5rem 0 2.5rem !important;
  }
  .globalFooter .columnDisplay {
    padding: 0;
    width: 100% !important;
  }
  .globalFooter .columnDisplay .footerCol {
    width: 100% !important;
  }
  .professionalsDisplay {
    display: flex !important;
    flex-direction: column !important;
  }
  .professionalsDisplay .professionalCard {
    margin-left: auto;
    margin-right: auto;
    width: 60% !important;
  }
}
@media (max-width: 1070px) {
  .navLinks,
  .regAndLoginDiv {
    display: none !important;
  }
  .navIcons {
    display: flex !important;
  }
  .landingHero .callToAction {
    width: 80% !important;
  }
  .landingHero .callToAction h1 {
    font-size: 3rem;
  }
  .landingHero .heroImg img {
    width: 100% !important;
  }
  .reviewDisplay {
    flex-direction: column;
  }
  .reviewDisplay .reviewCard {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .reviewDisplay .reviewCard:not(:last-child) {
    margin-bottom: 1.25rem;
  }
  .globalFooter .columnDisplay {
    flex-direction: column;
  }
  .globalFooter .columnDisplay .footerCol {
    text-align: center;
    margin: 0 auto 1.25rem auto;
    width: 50%;
  }
  .globalFooter .columnDisplay .footerCol:not(:last-child) {
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.2);
    padding-bottom: 1.25rem;
  }
  .globalFooter .columnDisplay .footerCol .branding,
  .globalFooter .columnDisplay .footerCol .socialMediaIcons {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .contactFormAndInfo {
    flex-direction: column-reverse;
  }
  .contactFormAndInfo .contactDiv {
    width: 100%;
  }
  .contactFormAndInfo .contactDiv h3 {
    text-align: center;
  }
  .contactFormAndInfo .contactInfo {
    padding: 1.25rem 0 !important;
  }
}
@media (max-width: 1280px) {
  .landingHero {
    padding: 5rem 2.5rem;
  }
  .landingHero .callToAction {
    width: 60%;
  }
  .landingHero .callToAction h1 {
    font-size: 3rem;
  }
  .landingHero .heroImg img {
    width: 80%;
  }
  .servicesDisplay {
    grid-template-columns: repeat(2, 40%);
  }
}
@media (max-width: 1488px) {
  .landingHero {
    flex-direction: column;
  }
  .landingHero .heroSection {
    width: 100%;
    padding: 0 5rem;
  }
  .landingHero .callToAction {
    margin: 0 auto 2.5rem auto;
  }
  .landingHero .heroImg img {
    margin: auto;
    width: 70%;
  }
  .professionalsDisplay {
    display: grid;
    grid-template-columns: repeat(2, 40%) !important;
    gap: 2.5rem 0;
    justify-content: space-around;
  }
  .professionalsDisplay .professionalCard {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */